<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo list</title>
</head>
<body>
    <% if( userDate ==="Saturday" || userDate === "Sunday" ) { %>
    <h1 style="color: purple">It is a <%=weekDate%>, <%=userDate%>'s ToDo list</h1>
    <% } else { %>
        <h1 style="color: blue">It is a <%=weekDate%>, <%=userDate%>'s ToDo list</h1>
    <% } %>
    <p></p>
</body>
</html>