<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo list</title>
</head>
<body>

    <h1><%= weekDate %></h1>
    <% for(var i=0; i<list.length; i++) {%>
        <ul>
            <input type="checkbox"><%= list[i]%>
        </ul>
     <% } %>
    <form action="/" method="post">
        <input type="text" name="addList" id="">
        <button type="submit">Add</button>
    </form>
</body>
</html>